body {
    display: flex;
    /* Do we want to change this to a smaller >> 50vh */
    min-height: 100vh;
    flex-direction: column;
    color: white
  }
  
  main {
    flex: 1 0 auto;
  }

label {
    color:white
  }
  
  .page-footer {
    padding-top: 0;
    text-align: right;
    background-color: #43a047;
  }


  