{% extends 'base.html' %}
{% load materializecss %}

{% block content %}

<div style="display: flex; justify-content: center;">
<h1>{{ diver.name }} </h1>
</div>
<!-- first row -->
<div class="row">
    <div class="card">
        <div class="card-content">
            <span class="card-title"></span>
            <h5>{{ diver.race }} || JOB: {{ diver.job }}</h5>
            <p>LV: {{ diver.level }}</p>
            <hr />
            <p class="my-class">{{ diver.backstory |linebreaks }}</p>
        </div>
   </div>
  <div class="card-action">
    <a href="{% url 'diver_update' diver.id %}">Edit</a>
    <a href="{% url 'diver_delete' diver.id %}">Delete</a>
  </div>
</div>

<!-- 2nd row with items search and diver.items -->
<div class="row">
    <div class="col s6">
        <h4>Inventory:</h4>
        {% if diver.item_set.all %}
        <table class="striped">
          <thead class="text center">
            <tr>
              <th>Item</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody class="collection">
            {% for item in diver.item_set.all %}
            <tr>
              <td>{{item.name}}</td>
              <td class="my-class">{{item.description}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <h5> No Loot, Pilaged? </h5>
        {% endif %}
    </div>
    <div class="col s6">
        <h1 style="justify-content:center">Mystery Box </h1>
        <p>search the mystery box to bolster your diver...</p>
        <form action="{% url 'search_items' diver.id %}"  method="POST">
            {% csrf_token %}
            <!-- Render the inputs -->
            {{ item_form.as_p }}
            <input type="submit" class="btn brown lighten-1" value="Add Item">
        </form>
    </div>
</div>


{% endblock %}