{% extends 'base.html' %}
{% block content %}

<h1>{{ diver.name }}</h1><h4> Level: {{ diver.level }}</h4>

<!-- first row -->
<div class="row">
    <div class="card">
        <div class="card-content">
            <span class="card-title"></span>
            <p>RACE: {{ diver.race }} || JOB: {{ diver.job }}</p>
            <hr />
            <p>Backstory:</p>
            <p>{{ diver.backstory |linebreaks }}</p>
        </div>
   </div>
</div>

<!-- 2nd row with items search and diver.items -->
<div class="row">
    <div class="col s6">
        <h4>{{ diver.name }}'s Inventory</h4>
        {% if diver.item_set.all %}
        <table class="striped">
          <thead>
            <tr>
              <th>Item Name</th>
              <th>Item Detail</th>
            </tr>
          </thead>
          <tbody>
            {% for item in diver.item_set.all %}
            <tr>
              <td>{{item.name}}</td>
              <td>{{item.description}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <h5> No Loot, Pilaged? </h5>
        {% endif %}
    </div>
    <div class="col s6">
        <h1>Search TBD</h1>
        {% if charItem %}
          <p>Woot Found:</p>
          {{ charItem.as_p }}
        {% else %}
          {{ error.as_p }}
        {% endif %}
        <form action="{% url 'search_items' diver.id %}"  method="POST">
            {% csrf_token %}
            <!-- Render the inputs -->
            {{ item_form.as_p }}
            <input type="submit" class="btn" value="Add Item">
        </form>
    </div>
</div>


{% endblock %}