{% extends 'base.html' %}
{% block content %}

<h1>Divers</h1>

{% if divers %}
    {% for diver in divers %}
        <a href="{% url 'detail' diver.id%}">
            <div class="card text center brown lighten-3">
                <div class="card-content">
                    <span class="card-title">{{ diver.name }}</span></a>
                    <p></p>
                    <p class="blink">{{ diver.backstory | safe | linebreaks }}</p>
                    <p class="card-title-primary">LV: {{ diver.level }} // RACE: {{ diver.race }} \\ JOB: {{ diver.job }}</p>
                </div>
            </div>
        
    {% endfor %}
{% else %}
    <h3>No Divers Found...</h3>
{% endif %}

{% endblock %}