/* added CSS styling to be applied to Deeper Elements */
main {
    min-width: 300px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

main > * {
    flex: 1;
}

p {
    font-family: 'MedievalSharp';
}
div.card {
    background-color: beige;
    border: unset;
    border-style: ridge;
}
/* converting my table into a scroll */
tbody.collection {
    overflow-y: auto;
}

div {
    text-align: center;
    margin: 0 auto;
}

p.description {
    background-color: beige;
    border: unset;
    border-style: ridge;
}

h1, h2, h3, h4 {
    font-style: italic;
    font-size: 8vh;
    font-weight: bold;
    font-family: 'Cinzel', cursive;
    font-weight: bolder;
    
}

span.card-title {
    font-family: 'MedievalSharp';
}

table {
    height: 100%;
}

label {
    font-size: 1.5rem !important;
    color: black !important;
    font-family: 'Courgette';
}

form {
    background-color: beige;
    margin: auto;
    padding: 1.5rem;
    border: black;
    border-style: double;
}
.my-class{
    font-family: 'Tangerine';
}

td.my-class {
    font-family: 'MedievalSharp';
}

div.nav-wrapper {
    font-family: 'Courgette', cursive;
}

table.striped tr:nth-child(odd) {
    background-color: beige;
}

table.striped tr:nth-child(even) {
    background-color: lightsteelblue;
}




