/* added CSS styling to be applied to Deeper Elements */
p {
    font-family: 'MedievalSharp';
}
div.card {
    background-color: beige;
    border: unset;
    border-style: ridge;
}
/* converting my table into a scroll */
tbody.collection {
    overflow-y: auto;
}


p.description {
    background-color: beige;
    border: unset;
    border-style: ridge;
}

h1, h4 {
    font-style: italic;
    font-weight: bold;
    font-family: 'Cinzel', cursive;
}

span.card-title {
    font-family: 'MedievalSharp';
}

table {
    height: 100%;
}

label {
    font-size: 1.5rem !important;
    color: black !important;
    font-family: 'Courgette';
    /* background-color: #43a047; */
    background-image: url(/main_app/static/img/chest.svg); 
}

form {
    background-color: beige;
    margin: auto;
    padding: 1.5rem;
    border: black;
    border-style: double;
}
.my-class{
    font-family: 'Tangerine';
}

td.my-class {
    font-family: 'MedievalSharp';
}

div.nav-wrapper {
    font-family: 'Courgette', cursive;
}

table.striped tr:nth-child(odd) {
    background-color: beige;
}

table.striped tr:nth-child(even) {
    background-color: lightsteelblue;
}




